<div class="fixed bottom-8 left-0 right-0 z-40 pointer-events-none">
  <div class="max-w-2xl mx-auto px-5">
    <div class="flex justify-end -mr-12">
      <button 
        id="back-to-top" 
        aria-label="Back to top"
        class="pointer-events-auto size-12 flex items-center justify-center rounded-full bg-black/80 dark:bg-white/80 hover:bg-black dark:hover:bg-white text-white dark:text-black shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 24 24"
          class="size-5 stroke-2 fill-none stroke-current">
          <polyline points="18 15 12 9 6 15" />
        </svg>
      </button>
    </div>
  </div>
</div>